{% extends 'base.html' %}

{% block content %}
<h2>Регистрация компании</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Имя пользователя</label>
        <input type="text" name="username" class="form-control" id="id_username" required>
    </div>
    <div class="mb-3">
        <label for="id_company_name" class="form-label">Название компании</label>
        <input type="text" name="company_name" class="form-control" id="id_company_name" required>
    </div>
    <div class="mb-3">
        <label for="id_phone_number" class="form-label">Телефон</label>
        <input type="text" name="phone_number" class="form-control" id="id_phone_number" required>
    </div>
    <div class="mb-3">
        <label for="id_phone_number" class="form-label">Почта</label>
        <input type="text" name="email" class="form-control" id="id_phone_number" required>
    </div>
    <div class="mb-3">
        <label for="id_warehouse_address" class="form-label">Адрес склада</label>
        <textarea name="warehouse_address" class="form-control" id="id_warehouse_address" required></textarea>
    </div>
    <div class="mb-3">
        <label for="id_password1" class="form-label">Пароль</label>
        <input type="password" name="password1" class="form-control" id="id_password1" required>
    </div>
    <div class="mb-3">
        <label for="id_password2" class="form-label">Подтверждение пароля</label>
        <input type="password" name="password2" class="form-control" id="id_password2" required>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}